#buttonContainer {
  width: 200px;
  margin: 0 auto;
}

#chartComponent {
  width: 400px;
  height: 400px;
}

.ParkAnalytics {
  border-style: solid;
  border-color: cadetblue;
  border-radius: 0.125cm;
}

.VisitCounts {
  border-style: solid;
  border-color: cadetblue;
  border-radius: 0.125cm;
}

.PredictiveTrends {
  border-style: solid;
  border-color: cadetblue;
  border-radius: 0.125cm;
}

.App {
  text-align: center;
  height: auto;
}

.Dashboard {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  justify-content: space-between;
  
}

.BottomComponents {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-evenly;
}

.AdditionalMetrics {
  padding: 5px;
  min-width: 390px;
  border-style: solid;
  border-color: cadetblue;
  border-radius: 0.125cm;
}

.FileUpload {
  padding-top: 20px;
  align-items: center;
  width: 404px;
  padding-bottom: 20px;
}

.wallClock {
  padding: 5px;
  width: 390px;
  align-items: center;
  border-style: solid;
  border-color: cadetblue;
  border-radius: 0.125cm;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
